.js-content {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  background: #000;
  border: 1px solid #ccc;
  color: white;
  font-size: 1.5em;
  padding: 1em;
}

.page-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

.btn {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 5px solid teal;
  border-start-end-radius: 20px;
}

.usernames li {
  padding: 8px;
  border: 2px dashed tomato;
  text-transform: uppercase;
}

.usernames li:not(:last-child) {
  margin-bottom: 12px;
}

.list-tech {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list-item {
  padding: 8px;
  border-width: 2px;
  border-style: dashed;
}

.list-item:nth-child(even) {
  border-color: tomato;
}

.list-item:nth-child(odd) {
  border-color: blueviolet;
}

.list-item:not(:last-child) {
  margin-bottom: 8px;
}
